html, body{
    margin: 0px;
    background-color:rgb(77, 15, 15);
    color:white;
}
.title{
    text-align: center;
    background-color: black;
    color: white;
    padding: .5rem;
    font-size: 1.2rem;
}

.card{
    width:7em;
    position: relative;
    left: 5em;
    margin-left:-3em;
}


#player1-cards, #house-cards{
    height: 10rem;
}